@import "sass/clearfix";
@import "sass/reset";

$dark-color : #000000;

$small: "(min-width: 100px) and (max-width: 600px)";
$medium: "(min-width: 600px) and (max-width: 900px)";
$large: "(min-width: 900px)";

$arial-font: Arial, Helvetica, sans-serif;

// @mixin small{
//   @media #{$small} {
//     body{
//       .headerDiv{
//         font-family: $arial-font;
//         font-size: 50px;
//         font-weight: bold;
//       }
//       .headerPDiv{
//         display: none;
//       }
//     }
//   }
//     // @content;
// }

// @mixin medium{
//   @media #{$medium} {
//     // @content;
//   }
// }

// @mixin large{
//   @media #{$large} {

//     // @content;
//   }
// }

@media #{$small}{
  body{
    .topBar{
      margin-bottom: 40px;
    }
    .headerDiv{
      font-size: 50px;
      font-weight: bold;
    }
    .headerPDiv{
      display: none;
    }
    img.mainImage{
      max-height: 90%;
      max-width: 90%;
      box-sizing: border-box;
      align-items: center;
    }
    .row2{
      align-items: center;
      text-align: center;
      margin: 25px;
    }
    .rowPics{
      margin-bottom: 30px;
    }
    img.uploadedImg{
      max-height: 90%;
      max-width: 90%;
    }
    .picPara{
      font-size: 14px;
      text-align: left;
      margin-left: 16px;
    }
    p.descriptP{
      display: none;
    }
    .titleDiv{
      box-sizing: border-box;
      margin-bottom: 12px;
      padding: 5px;
    }
    .imgContent{
      margin-left: 50px;
      .descriptDiv{
        box-sizing: border-box;
        padding: 5px;
        margin-top: 20px;
        font-size: 12px;
      }
    }
  }
}

@media #{$large}{
  body {
        hr.dotted {
        border: 0;
        border-bottom: 1px dotted #ccc;
        background: #999;
        margin-top: 7%;
      }
      .topBar{
        float: left;
        width: 100%;
        margin-bottom: 80px;
      }
      .headerDiv {
        font-size: 50px;
        font-weight: bold;
        float: left;
        margin-left: 10%;
        margin-right: 10px;
      }
      .headerPDiv{
        font-size: 12px;
        float: left;
        width: 350px;
        margin-right: 10%;
        padding-left: 10px;
        border-left: 1px grey;
        border-style: solid;
      }
      .row2{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
      }
      .rowPics{
        box-sizing: border-box;
        max-width: 300px;

    }
  }
}

body{
  color: gray;
  font-family: $arial-font;
  text-align: left;
    hr.line {
      border: 0;
      height: 1px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    }
    .topBar{
      margin-bottom: 50px;
      margin-top: 45px;
    }
    .headerDiv{
      font-size: 50px;
      font-weight: bold;
      text-align: center;
    }
    .mainImg{
      align-items: center;
      margin: 25px;
      text-align: center;
      max-height: 100%;
      max-width: 100%;
    }
}