@import "sass/clearfix";
@import "sass/reset";

$dark-color : #000000;

$small: "(min-width: 100px) and (max-width: 600px)";
$medium: "(min-width: 600px) and (max-width: 900px)";
$large: "(min-width: 900px)";

$arial-font: Arial, Helvetica, sans-serif;

@media #{$small}{
  body{
    .topBar{
      margin-bottom: 40px;
    }
    hr.dotted{
      display: none;
    }
    hr.line {
      border: 0;
      border-bottom: 1px #ccc;
      background: #999;
      margin-top: 7%;
    }
    .headerDiv{
      font-size: 50px;
      font-weight: bold;
    }
    .headerPDiv{
      display: none;
    }
    img.mainImage{
      max-height: 90%;
      max-width: 90%;
      box-sizing: border-box;
      align-items: center;
    }
    .row2{
      margin-left: 35px;
      margin: 25px;
    }
    .rowPics{
      margin-bottom: 20px;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      max-width: 300px;
    }
    img.uploadedImg{
      max-height: 90%;
      max-width: 90%;
    }
    .picPara{
      font-size: 14px;
      text-align: left;
      width: 300px;
    }
    .titleDiv{
      box-sizing: border-box;
      margin-bottom: 12px;
      padding: 5px;
    }
    .descriptDiv{
        box-sizing: border-box;
        padding: 5px;
        margin-top: 20px;
        font-size: 12px;
    }
  }
}

@media #{$medium}{
      hr.dotted {
        border: 0;
        border-bottom: 1px dotted #ccc;
        background: #999;
        margin-top: 7%;
      }
      .hrDot{
        max-width: 80%;
        margin-left: auto;
        margin-right: auto
      }
      .topBar{
        box-sizing: border-box;
        display: flex;
        flex-flow: row;
        width: 100%;
        margin-bottom: 80px;
      }
      .headerDiv {
        font-size: 50px;
        font-weight: bold;
        margin-left: 10%;
        margin-right: 10px;
        width: 50%;
      }
      .headerPDiv{
        font-size: 12px;
        width: 50%;
        margin-right: 10%;
        padding-left: 10px;
        border-left: 1px grey;
        border-style: solid;
      }
}

@media #{$large}{
  body {
      hr.dotted {
        border: 0;
        border-bottom: 1px dotted #ccc;
        background: #999;
        margin-top: 7%;
      }
      .hrDot{
        max-width: 80%;
        margin-left: auto;
        margin-right: auto
      }
      hr.line {
      width: 100%;
      border: 0;
      border-bottom: 1px #ccc;
      background: #999;
      margin-top: 5px;
      }
      .topBar{
        box-sizing: border-box;
        display: flex;
        flex-flow: row;
        width: 100%;
        margin-bottom: 80px;
      }
      .headerDiv {
        font-size: 50px;
        font-weight: bold;
        margin-left: 10%;
        margin-right: 10px;
        width: 50%;
      }
      .headerPDiv{
        font-size: 12px;
        width: 50%;
        margin-right: 10%;
        padding-left: 10px;
        border-left: 1px grey;
        border-style: solid;
      }
      .row2{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
      }
      .rowPics{
        box-sizing: border-box;
        max-height: 90%;
        max-width: 300px;
      }
      .picPara{
        max-width: 400px;
      }
  }
}

body{
  color: gray;
  font-family: $arial-font;
  text-align: left;
  .mainContent{
    margin-left: auto;
    margin-right: auto;
  }
    hr.line {
      border: 0;
      height: 1px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    }
    .topBar{
      margin-bottom: 50px;
      margin-top: 45px;
    }
    .headerDiv{
      font-size: 50px;
      font-weight: bold;
      text-align: center;
    }
    .mainImg{
      align-items: center;
      margin: 25px;
      text-align: center;
      max-height: 100%;
      max-width: 100%;
    }
}