<!DOCTYPE html>
html(lang="en")
head
  meta(charset="utf-8")
  title Express Gallery
body
  p Edit Gallery
  form(method="POST" action="/gallery/" + gallery.id enctype="application/x-www-form-urlencoded")
    input(type="hidden" name="_method" value="PUT")
    p Author
    input(type="Text", name="author" value=gallery.author)
    p URL
    input(type="Text", name="link" value=gallery.url)
    p Description
    input(type="TextArea", name="description" value=gallery.description)
    p
    button(type="submit") Submit