<!DOCTYPE html>
html(lang="en")
  head
   meta(charset="utf-8")
  title Express Gallery
  link(rel="stylesheet" type="text/css" href="/styles/styles.css")
  body
    div(class="mainContent")
      div(class="topBar")
        div(class="headerDiv")
          h1(class="header1") _ARCHITEKT
      div(class="formBox")
        h2 Add New photo
        form(name="input", action="/gallery", method="POST")
          label Author
            input(class="inputField" type="Text", name="author")
          br
          label URL
            span(class="require")  - required
            input(class="inputField" type="Text", name="url" required)
          br
          label Description
            input(class="inputField" type="TextArea", name="description")
          br
          button(class="buttons" type="submit") Add Photo