<!DOCTYPE html>
html(lang="en")
  head
   meta(charset="utf-8")
  title Express Gallery
  body
    p New photo

    form(name="input", action="/gallery", method="get")
      p Author
      input(type="Text", name="author")
      p URL
      input(type="Text", name="link")
      p Description
      input(type="TextArea", name="description")
      p
      input(type="submit")