<!DOCTYPE html>
html(lang="en")
head
  meta(charset="utf-8")
  title Express Gallery
body
  header
  h1 Welcome to the gallery!
  each galleryData in Gallery
    img(src = galleryData.url)
    input(type="hidden" onclick = 'redirect()')
    p Uploaded by: #{galleryData.author}
    p Description: #{galleryData.description}

script.
  function redirect(){
    window.location="/gallery/" + gallery.id
  }


