<!DOCTYPE html>
html(lang="en")
head
  meta(charset="utf-8")
  title Express Gallery
body
  img(src = gallery.url)
  p Uploaded by: #{gallery.author}
  p Description: #{gallery.description}
  p
  button(type="submit" onclick='redirect()') Edit
script.
  function redirect(){
    window.location="#{gallery.id}/edit"}
