<!DOCTYPE html>
html(lang="en")
head
  meta(charset="utf-8")
  title Express Gallery
body
  for galleryData in galleries
    img(src = galleryData.url)
    p Uploaded by: #{galleryData.author}
    p Description: #{galleryData.description}